/* Contact Us Page styles */

/* Container and general layout */
.ContactUs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;  /* Using viewport height to make it take the full height of the viewport */
  width: 100%;    /* Ensuring it takes full width, adjust as needed */
}

/* Information section styling */
.infor-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
}

.infor-section p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
}

/* Form styling */
.enter-section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(70, 213, 98, 0.1);
  width: 100%;
  max-width: 600px;
}

.Input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
}

.sub-button {
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(17, 110, 31); /* Thematic color from the landing page */
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

/* Labels styling */
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 16px;
}

/* Enhancements for mobile responsiveness */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      padding: 10px;
  }

  .infor-section, .enter-section {
      width: 90%;
  }
}
